*{
    box-sizing: border-box;
}

body{
    background-color: gold;
}

main{
    margin: 20px;
}


.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.tm{
    height: 20vh;
    width: 215px;
}


.header{
    margin-top: 10px;
}

nav{
    background-color: black;
    padding: 10px;
    height: 10vh;
}

.ul{
    display: flex;
    justify-content: space-around;
}


li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.titulo{
    margin-bottom: 25px;
    border-bottom: black solid 3px;
    color: white
}


h2{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 60px;
}

.contenedor{
    background-color: black;
}

.l{
    color: white;
    text-decoration: none;
}

.ver {
    display: block;
    height: 40px;
    margin: 8px 0;
    background-color: black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: gold;
    border: 1px solid black;
    display: inline-block;
    margin-left: 20px;
  }
  